{% extends 'admin/admin_layout.html' %}
{% block adminlayout %}
        
<main class="col-md-10 ms-sm-auto col-lg-10 px-md-4">
    <div class="sub1 px-3 py-2 pt-3 d-flex justify-content-between mb-5">
        <div>
            <h1>Overview</h1>
        </div>

        <div >
            <a href="" class="me-3">
                <i class="fa fa-bell" aria-hidden="true"></i>
            </a>

            <a href="">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>Hi, {{admindeets.admin_username}}!</span> 
            </a>

        </div>
    </div> 
      
        <h1>Registered Salons</h1>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Salon Name</th>
                    <th scope="col">Salon Location</th>
                    <th scope="col">Salon Email</th>
                    <!-- <th scope="col">Salon Rating</th> -->
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% if all_salons %}
                {% for s in all_salons %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{s.salon_name}}</td>
                    <td>{{s.salon_address}}</td>
                    <td>{{s.salon_email}}</td>
                    <td><a href="/admin/deletesalon/{{s.salon_id}}" class="btn btn-sm btn-danger">Delete</a></td>
                </tr>
                {% endfor %}
                {% endif %}

               
            </tbody>
    </table>
</main>
{% endblock %}