		{% extends 'user/layout.html' %}
		 {% block css %}
		
			 <link rel="stylesheet" type="text/css" href="/static/mycss/book.css">
			 <link rel="stylesheet" type="text/css" href="/static/mycss/starter.css">
		
			 <title>Ease of Hair: About</title>
		 {% endblock css %}
		
		{% block userpagecontent %}
			<section class="about mt-3">
				<div class="row p-5 pt-0">

					<div class="col-md-12 text-center about-title mb-5">
						<h1>About Us</h1>
					</div>

				<div class="col-md-6">
					<h1 class="mb-4 text-left">1st Centralized Hairdressing Services Website in Nigeria</h1>
					<p class="text-justify">We launched early this year, January 17th 2022, to officially become the first website in Nigeria that helps you find salons, hairdressers around you easily.</p>
				</div>
						
					
							
					<div class="col-md-6">
						<div class="img-cont1 text-center">
							<img src="/static/images/about2.jpg" alt="Woman" class="img-fluid">
							<div class="img-border1"></div>
						</div>	
					</div>

	
						<div class="col-md-6">
							<h1 class="text-center our-work1">Our Work</h1> 
	
							<div class="img-cont2">
								<img src="/static/images/about2.png" alt="Woman" class="img-fluid">
								<div class="img-border2"></div>
							</div>	
						</div>
	
						<div class="col-md-6">
							<div class="sub-salon">
								<h1 class="our-work2">Our Work</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
								<i class="fa fa-quote-right" aria-hidden="true"></i>
							</div>	
						</div>
					

				</div>
			</section>

			<hr class="mx-5">

			<section class="">
				<div class="row p-5 g-5">
					<div class="col-md-4">
  						<img src="/static/images/cust.jpg" class="card-img-top img-fluid" alt="customers">
  						<div>
  							<h2>Customers</h2>
  							<p>We value our customers so much because your hapiness is our happiness<a href="#"></a></p>
  						</div>
					</div>

					<div class="col-md-4">
  						<img src="/static/images/book.jpg" class="card-img-top img-fluid" alt="Man dying hair">
					</div>

					<div class="col-md-4">
  						<img src="/static/images/salonjoin.jpg" class="card-img-top img-fluid" alt="Salon">
					</div>


				</div>
			</section>
		{% endblock userpagecontent %}
	

		{% block js %}
			<script src="/static/myjs/pay.js" type="text/javascript" language="javascript"></script>
        {% endblock js %}
		
	
