{% extends 'user/layout.html' %}
		 {% block css %}
			 <link rel="stylesheet" type="text/css" href="/static/mycss/book.css">
			 <title>Ease of Hair: Book Salon</title>
		 {% endblock css %}

		 {% block userpagecontent %}

            <section class="p-4">
                <div class="row">
					<div class="col-md-12">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu volutpat odio facilisis mauris sit amet massa. Enim ut tellus elementum sagittis vitae et leo duis ut. Feugiat vivamus at augue eget arcu. Vestibulum lorem sed risus ultricies tristique nulla aliquet enim.
						</p>
						
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						</p>
					</div>

					<div class="row">
						<form action="" name="">
							<div class="col-md-12">
								<select name="appointment" id="appointment" class="form-control">
									<option value="#">Select appointment type</option>
									<option value=""></option>
									<option value=""></option>
									<option value=""></option>
								</select>
							</div>

							<div class="row">
								<div class="col-md-6">
									<select name="salons" id="salons" class="form-control">
										<option value="">Salons</option>
										<option value=""></option>
										<option value=""></option>
										<option value=""></option>
									</select>
								</div>

								<div class="col-md-6">
									<select name="locations" id="locations" class="form-control">
										<option value="">Locations</option>
										<option value="lagos">Lagos</option>
										<option value="abuja">Abuja</option>
										<option value="delta">Delta</option>
										<option value="kwara">Kwara</option>
									</select>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<select name="salons" id="salons" class="form-control">
										<option value="">Date</option>
										<option value=""></option>
										<option value=""></option>
										<option value=""></option>
									</select>
								</div>

								<div class="col-md-6">
									<select name="locations" id="locations" class="form-control">
										<option value="">Time</option>
										<option value="lagos">Lagos</option>
										<option value="abuja">Abuja</option>
										<option value="delta">Delta</option>
										<option value="kwara">Kwara</option>
									</select>
								</div>
							</div>
						</form>
						
					</div>
					
				</div>

				<div class="row">
					<div class="div">

					</div>
				</div>
            </section>
			{% endblock userpagecontent %}
			
			{% block js %}
			<script src="/static/myjs/book.js" type="text/javascript" language="javascript"></script>
        {% endblock js %}
		
	