{% extends 'user/layout.html' %}
        
{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/mycss/starter.css">
{% endblock css %}


{% block userpagecontent %}
	<div id="cont" style="font-size: 30px;" class="py-5">
        <h5>
            Page not found.
            We're sorry, we couldn't find the page you requested. Navigate back to our home page 
            <a href="/">home</a>
        </h5>
	</div>
  
        
{% endblock %}    

{% block js %}
<script src="/static/myjs/pay.js" type="text/javascript" language="javascript"></script>
{% endblock js %}
</body>
</html>



