<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="desc" content="">
		<meta name="keywords" content="">
		<meta name="author" content="Aishat Moshood">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=PT+Serif:ital,wght@0,400;0,700;1,700&family=Satisfy&display=swap" rel="stylesheet">


		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/faicons/css/all.min.css">
		<link rel="stylesheet" type="text/css" href="/static/mycss/login.css">

		<title>Ease Of Hair: Reset Password</title>	

	</head>

	<body>
		<div class="container-fluid px-0">

			<header class="menu-banner" style="margin-bottom: 2px solid black !important;">
				
				<div class="row">
					<div class="col-md-12">
						<nav class="navbar navbar-expand-lg">
							<div class="container-fluid">
								
								<a class="navbar-brand" href="/"><img src="/static/logo/color_logo_with_bg.png" alt='Ease of Hair Logo' class="logo"/></a>
								<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
									<span class="navbar-toggler-icon">
										<i class="fa-solid fa-bars text-dark mt-2 text-lg"></i>
									</span>
								</button>
	
								<div class="collapse navbar-collapse pb-3" id="navbarSupportedContent">
									
									<ul class="navbar-nav mx-auto mb-2 mb-lg-0">
										<li class="nav-item">
											<a class="nav-link active" aria-current="page" href="/">Home</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="/about">About</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#services">Services</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="/all/salons">Salons</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="/all/salons">Book</a>
										</li>
										
										{% if session.get('loggedin') != None %}
									
											<li class="nav-item">
												<a class="nav-link" href="{{url_for('userdash')}}">My Dashboard</a>
											</li>

											<li class="nav-item">
												<a class="nav-link" href="{{url_for('logout')}}">Log Out</a>
											</li>
										{% elif session.get('salon_loggedin') != None %}
		
											<li class="nav-item">
												<a class="nav-link" href="{{url_for('salon_dashboard')}}">My Dashboard</a>
											</li>

											<li class="nav-item">
												<a class="nav-link" href="{{url_for('salon_logout')}}">Log Out</a>
											</li>
										{% else %}
											<li class="nav-item">
												<a class="nav-link" href="/signup">Sign Up</a>
											</li>

											<li class="nav-item dropdown dropdown-menu-a">
												<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
												  Login
												</a>
												<ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
													<li><hr class="dropdown-divider"></li>
												  <li><a class="nav-link dropdown-menu-a" href="{{url_for('user_login')}}">Customer Login</a></li>
												  <li><hr class="dropdown-divider"></li>
												  <li style="z-index: 100;"><a class="nav-link dropdown-menu-a" href="{{url_for('salon_login')}}">Salon Login</a></li>
												  <li><hr class="dropdown-divider"></li>
												</ul>
											  </li>
										{% endif %}
									</ul>
	
									<form class="d-flex">
										<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
										<button class="btn btn-dark srhbtn" type="submit">Search</button>
									</form>
	
	
								</div>
								
							</div>
						</nav>
					</div>
				
				</div>	
			</header>

			<div class="heading-reset">
				<p>Customers to reset your password, input your email below. A link will be sent to your mail</p>
			</div>

			<section class="login-form">
				<div class="row">
					<div class="col-md-12">
						<form action="" method="post">
							{% with m = get_flashed_messages() %}
								{% if m %}
									{% for i in m %}
										<p class="alert alert-info">{{ i }}</p>
									{% endfor %}
								{% endif %}
							{% endwith %}
							<div>
								<input type="hidden" name="csrf_token" value="{{csrf_token()}}">
							</div>
						
                            <div class="reset-email">
								<label for="email" class="visually-hidden">Email</label>
								<input type="email" name="forgotpwdemail" placeholder="Email" id="email" class="form-control input">
							</div>

							<div class="submit-btn">
								<input type="submit" class="btn btn-danger" value="Send Link">
							</div>
							
						</form>

					</div>

			</section>

		</div>	

		
		<script src="/static/js/bootstrap.bundle.min.js" type="text/javascript" language="javascript"></script>
		<script src="/static/jquery/jquerymin.js" type="text/javascript" language="javascript"></script>

	</body>
</html>