<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="desc" content="">
		<meta name="keywords" content="">
		<meta name="author" content="Aishat Moshood">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800&display=swap" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="faicons/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="mycss/starter.css">


		<title>Hairzy: Home</title>	
	</head>

	<body>
		<div class="container-fluid px-0">

            <main>
                <header class="menu-banner">

                    <div class="row">
                        <div class="col-12">
                            <nav class="navbar navbar-expand-lg">
                                <div class="container-fluid">
                                    
                                    <a class="navbar-brand" href="/"><img src="/static/logo/color_logo_with_bg.png" alt='Ease of Hair Logo' class="logo"/></a>
                                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon">
                                            <i class="fa-solid fa-bars text-dark mt-2 text-lg"></i>
                                        </span>
                                    </button>
        
                                    <div class="collapse navbar-collapse pb-3 ms-md-5" id="navbarSupportedContent">
                                        
                                        <ul class="navbar-nav mb-2 mb-lg-0 me-0 ms-md-5">
                                            <li class="nav-item">
                                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                                            </li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Dropdown
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                                    <li><hr class="dropdown-divider"></li>
                                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                                </ul>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Location</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Services</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Stylists</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Book Now</a>
                                            </li>
        
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Sign Up</a>
                                            </li>
        
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Login</a>
                                            </li>
                                        </ul>
        
                                    
                                    </div>
                                    
                                </div>
                            </nav>
                        </div>
                    </div>	
        
                </header>

                <section class="sec1 p-4"><!--services-->
                    <div class="row"><!--servicesimmediate row-->
                        {{serv_res}}

                        
                    </div><!--end of services immediate row-->
                </section><!--end of services-->

                <footer class="px-3 py-5">
                    <div class="row ps-md-5">
                        
                    </div>
                </footer>
                
            </main>

        </div><!--end of container fluid-->
		<script src="js/bootstrap.bundle.min.js" type="text/javascript" language="javascript"></script>
		<script src="jquery/jquerymin.js" type="text/javascript" language="javascript"></script>

		<script type="text/javascript" language="javascript">
			
		</script>
	</body>
</html>

