{% extends 'user/layout2.html' %}

{% block paymenttitle %}
<link rel="stylesheet" type="text/css" href="/static/mycss/userdashboard.css">
<title>Ease of Hair: Payments</title>
{% endblock paymenttitle %}	

{% block paymentcontent %}

			
                <header class="menu-banner p-4">

                    <div class="row"> <!--logo row-->
                        <div class="col-12 d-flex justify-content-between">
                            <p><a href="/"><img src="/static/logo/color_logo_with_bg.png" alt='Ease of Hair Logo' class="logo"/></a></p>

                            <div class="d-flex justify-content-between">
                                <p class="me-5">
                                    <a href="">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <span>Hi, {{custdeets.cust_fname|capitalize}}</span> 
                                    </a> 
                                </p>

                                <p>
                                    <a href="/all/salons">
                                        <i class="fa-solid fa-book-open"></i>
                                        <span>Book</span> 
                                    </a>
                                </p>
                            </div>

                        </div>
                    </div> <!--end of logo row-->
                </header>


			<section class="">
				<div class="row m-auto ">
                    <div class="col-md-3 p-md-4 ps-sm-5 nav-side user-nav">

                        <div class="nav-item bars">
							<p class="invisible home"><a class="ms-3" aria-current="page" href="/"><i class="fa fa-home" aria-hidden="true"></i></a></p>
							<i class="fa fa-bars" aria-hidden="true"></i>
						</div>
						
						<div class="main-nav">
				
                            <p class="nav-item">
                                <i class="fa fa-user" aria-hidden="true"></i><a class="ms-3" aria-current="page" href="/userdashboard">Profile</a>
                            </p>

                            <p class="nav-item">
                                <i class="fa-solid fa-book-open"></i><a class=" ms-3" href="/user/bookings">Bookings</a>
                            </p>

                            <p class="nav-item">
                                <i class="fa-solid fa-money-bill-1"></i> <a class="ms-3" href="/user/dashboard/payment">Payments</a>
                            </p>

                            <p class="nav-item">
                                <i class="fa-solid fa-gear"></i> <a class="ms-3" href="/user/settings">Settings</a>
                            </p>

                            <p class="nav-item">
                                <i class="fa-solid fa-power-off"></i> <a class="ms-3" href="{{url_for('logout')}}">Log Out</a>
                            </p>
                        </div>
                    </div>

					<div class="col-md-3 mt-5 ps-3  text-center">
                        {% if custdeets.cust_img == None %}
							<img src="/static/images/user.png" alt="user profile image" class="img-fluid" width="300">
						{% else %}
                            <img src="/static/user_images/{{custdeets.cust_img}}" alt="" class="img-fluid rounded-circle user-img">
						{% endif %}
                       
						<h5>{{custdeets.cust_fname|capitalize}} {{custdeets.cust_lname|capitalize}}</h5>
						<p>{{custdeets.cust_email}}</p>
					</div>

					<div class="col-md-6 mt-5 px-sm-3">
							<div class="d-flex justify-content-between">
								<h3 class="my-account">My Account</h3>
								<p class="set"><a href="/user/settings">Settings</a></p>
							</div>
	
							<div class="mt-5">
								<h4>Payments</h4>
                                {% if paydeets %}
                                <table class="table table-bordered table-striped mt-5">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Salon Name</th>
                                            <th scope="col">Amount Paid</th>
                                            <th scope="col">Transaction reference</th>
                                            <th scope="col">Date and Time</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        
                                        {% for i in paydeets %}
                                        <tr>
                                            <td>{{loop.index}}.</td>
                                            <td scope="row">
                                                {% if 'salon'.lower() in i.salonpay.salon_name %}
                                                    {{i.salonpay.salon_name}}
                                                {% else %}
                                                    {{i.salonpay.salon_name}} Salon
                                                {% endif %}
                                            </td>
                                            <td>{{i.pay_amt|int}}</td>
                                            <td>{{i.pay_refno}}</td>
                                            <td>{{i.pay_reg}}</td>
                                        </tr>
                                        {% endfor %} 
                                    </tbody>
                                </table>
                            	
                                {% else %}
                                
                                    <h5 class="mt-3 text-center">You have not made any transactions</h5>
                                
                                {% endif %}
                
                                         
                                <hr>	
                            </div><!--end of Readonly profile-->
                        </div>
                    
				</div>
			</section>
		{% endblock paymentcontent %}